#MainPageBackground {
  width: 100%;
  background-size: cover;
  min-height: 500px;
  transition: background-image 0.2s ease-in-out;
  display: flex;
  justify-content: center;
}

.TopicName {
  color: white;
  text-align: center;
  background-color: rgba(227, 58, 12, 1);
  bottom: 0;
  width: 100%;
  margin: 0;
  padding-bottom: 0.6vw;
  position: absolute;
}

.bubble {
  border-radius: 100%;
  padding-bottom: 10%;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.75);
  position: absolute;
  overflow: hidden;
  transition: 0.2s;
  background-size: cover;
}

.bubble:hover {
  transition: 0.5s;
  transform: scale(1.05);
}

#Message {
  text-align: center;
  width: auto;
  margin: auto;
  padding: 5%;
  background-color: deepskyblue;
  color: white;
  background-color: rgba(46, 206, 187, 0.7);
  border-radius: 100%;
}
#MobileBackground {
  width: 100%;
  height: 100%;
  background-size: cover;
  min-height: 100vh;
  transition: background-image 0.2s ease-in-out;

  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
